body {
  font-family: sans-serif;
  overflow: hidden;
  margin: 0;
}

/* Default settings for desktop and larger screens */
#webgi-canvas {
  width: 100%;
  height: 100%;
}
#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
}

/* Settings for mobile screens */
@media only screen and (max-width: 768px) {
  #webgi-canvas {
    width: 100%;
    height: 100%;
  }
  #webgi-canvas-container {
    width: 100vw;
    height: 100vh;
    /* Adjust any other properties for mobile if needed */
  }
}
